# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env
.venv/
venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
*.nbconvert.ipynb

# =========================
# Data files
# =========================
data/raw/*
data/interim/*
data/external/*

!data/README.md
!data/raw/README.md
!data/interim/README.md
!data/external/README.md
!data/sample/
!data/sample/**

# =========================
# Outputs / Artifacts
# =========================
outputs/
reports/figures/
plots/
figures/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Model artifacts
# =========================
models/
*.pkl
*.joblib

# =========================
# SQL temp files
# =========================
*.sqlite
*.db

# =========================
# Misc
# =========================
.cache/
.tmp/
